{% extends 'base.html' %}

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Drop pins to select path</h1>
    <div id="map" style="height: 400px"></div>
    <div id="formdiv">
        <form action="" method="POST" id="form">
            {% csrf_token %}
            <div class="form-row">
                <input type="submit" class="btn btn-primary mt-4 pt-2 pb-2 pl-4 pr-4 mx-auto" value="Submit">
            </div>
        </form>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6us9ytBvAiZqk5kxggIWhv4kk0PYcMTk"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script>
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 29.865, lng: 77.895},
            zoom: 16
        });
        const customStyles = [
          {
            featureType: "all",
            elementType: "labels",
            stylers: [
              { visibility: "off" }
            ]
          }
        ];
        map.set('styles',customStyles);
        var poly = new google.maps.Polyline();
        var poly_coords = [];
        poly.setMap(map);
        var markers = [];
        map.addListener('click', function (event) {
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
            poly_coords.push({lat: lat, lng: lng});
            markers.push(new google.maps.Marker({
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP,
                position: {
                    lat: lat,
                    lng: lng
                }
            }))
            console.log(poly_coords);
            poly.setPath(poly_coords)
        })
        {#$("#form").submit(function (e) {#}
        {#    e.preventDefault();#}
        {#    $.ajax({#}
        {#        url: window.location.toString(),#}
        {#        method: "POST",#}
        {#        data: {#}
        {#            coords: poly_coords#}
        {#        },#}
        {#        success: function (data, status, xhr) {#}
        {#            console.log(data);#}
        {#        },#}
        {#        error: function (xhr, status, error) {#}
        {#            console.log(error);#}
        {#        }#}
        {#    })#}
        {#) #}
    </script>
{% endblock %}