{% load static %}
<!DOCTYPE html><html>
  <head>
    <title>User-Editable Shapes</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #formdiv{
          height:20%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="formdiv">
        <form id="form">
            <input type="submit" value="Submit">
        </form>
    </div>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6us9ytBvAiZqk5kxggIWhv4kk0PYcMTk">
    </script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
    </script>
    <script>
      // This example adds a user-editable rectangle to the map.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 44.5452, lng: -78.5389},
          zoom: 9
        });

        var bounds = {
          north: 44.599,
          south: 44.490,
          east: -78.443,
          west: -78.649
        };

        // Define a rectangle and set its editable property to true.
        var rectangle = new google.maps.Rectangle({
          bounds: bounds,
          editable: true
        });
        rectangle.setMap(map);
    </script>
    <script>
        $("#form").submit(function(e){
            e.preventDefault();
            var newbounds = rectangle.getBounds();
            $.ajax({
                url:window.location.toString(),
                method:"POST",
                data:{
                    bottom:newbounds.getSouthWest().lat(),
                    top: newbounds.getNorthEast().lat(),
                    left: newbounds.getSouthWest().lng(),
                    right: newbounds.getNorthEast().lng()
                    },
                success:function(data, status, xhr){
                    console.log(data);
                },
                error:function(xhr, status, error){
                    console.log(error);
                }
            })
        })
    </script>
  </body>
</html>