{% extends 'base.html' %}
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add Construction Project</h1>
  </div>


  <!-- Content Row -->

  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Choose Points</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area" style="height:200px">
            <div id ="map" style="height:100%"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="myPieChart"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle text-primary"></i> Direct
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-success"></i> Social
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-info"></i> Referral
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6us9ytBvAiZqk5kxggIWhv4kk0PYcMTk"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
    </script>
    <script>
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });
        var poly = new google.maps.Polyline();
        var poly_coords = [];
        poly.setMap(map);
        var markers = [];
        map.addListener('click',function(event){
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
            poly_coords.push({lat:lat, lng:lng});
            markers.push(new google.maps.Marker({
                map:map,
                draggable:false,
                animation:google.maps.Animation.DROP,
                position:{
                    lat:lat,
                    lng:lng
                }
            }))
            console.log(poly_coords);
            poly.setPath(poly_coords)
        })
        $("#form").submit(function(e){
            e.preventDefault();
            $.ajax({
                url:window.location.toString(),
                method:"POST",
                data:{
                    coords: poly_coords
                },
                success:function(data, status, xhr){
                    console.log(data);
                },
                error:function(xhr, status, error){
                    console.log(error);
                }
            })
        })
    </script>  
</body>
</html>